<%- include('partials/header') %>
<style>
    .form-control-square {
        width: 200px;
        height: 400px;
        resize: none;
    }
    .matriz-input {
        width: 50px;
        height: 50px;
        text-align: center;
    }
    .estagio table {
        margin: 10px;
        border-collapse: collapse;
    }
    .estagio td {
        border: 1px solid #ccc;
        padding: 5px;
        text-align: center;
    }
</style>
<body>
    <%- include('partials/navbar') %>
    <div class="container">
        <div class="titulo-perguntas">
            <hr>
            <h1>Solução de um sistema linear (método de Gauss)</h1>
            <hr>
        </div>
        <br>
        <div class="card">
            <form action="/resolverSistemaLinear" method="POST">
                <div class="card-body" style="display: flex; align-items: center; justify-content: space-between;">
                    <h3>Sistema: </h3>
                    <textarea class="form-control form-control-square" name="equations"></textarea>
                    <button type="submit" class="btn btn-primary">Resolver Sistema</button>
                </div>
            </form>
            <% if (typeof stages !== 'undefined' && typeof solution !== 'undefined') { %>
                <% 
                function formatNumber(num) {
                    let fixedNum = parseFloat(num.toFixed(2));
                    if (Math.floor(fixedNum) === fixedNum) {
                        return fixedNum.toString();
                    } else {
                        return fixedNum.toFixed(2).replace(/\.?0+$/, '');
                    }
                }
                %>
                <div class="estagios">
                    <% stages.forEach((stage, index) => { %>
                        <div class="estagio">
                            <h4>Estágio <%= index + 1 %>:</h4>
                            <table>
                                <% stage.forEach(row => { %>
                                    <tr>
                                        <% row.forEach(value => { %>
                                            <td><%= formatNumber(value) %></td>
                                        <% }); %>
                                    </tr>
                                <% }); %>
                            </table>
                        </div>
                    <% }); %>
                </div>
                <div class="resultado">
                    <h3>Resultado Final:</h3>
                    <p><%= solution %></p>
                </div>
            <% } %>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
